body{
    background-color: hsl(207, 26%, 17%);
}

.countryWhite{
    background-color: hsl(0, 0%, 100%);
}

.textWhite{
    color: #000 ;
}

.border-white{
    color: #000 !important;
    background-color: #fff !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}





